/* LIGHT THEME */
:root {
  --color-bg: #ffffff;
  --color-surface: #fbeac0;
  --color-primary: #6a9a8f;
  --color-primary-light: #6da798;
  --color-pinned: #eec0b5;
  --color-text-primary: #4c5051;
  --color-text-secondary: #40444677;
}

/* DARK THEME */
:root[isDark] {
  --color-bg: #191819;
  --color-surface: #252525;
  --color-primary: #6a9a8f;
  --color-primary-light: #6da798;
  --color-pinned: #2d3435;
  --color-text-primary: #eaecec;
  --color-text-secondary: #eaecec77;
}
